UFO_DISPATCH_APN_KEY=
UFO_DISPATCH_APN_KEY_ID=
UFO_DISPATCH_APN_TEAM=
UFO_DISPATCH_GCM_ID=
UFO_DISPATCH_AGENT_ENDPOINT=
UFO_DISPATCH_INBOUND_TRANSPORT_PORT=80
UFO_DISPATCH_DATABASE_HOST=database
UFO_DISPATCH_DATABASE_PORT=5432
UFO_DISPATCH_DATABASE_NAME=
UFO_DISPATCH_DATABASE_USER=
UFO_DISPATCH_DATABASE_PASSWORD=